name: Publish grafana/fake-data-gen image

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    if: ${{ github.repository == 'grafana/fake-data-gen' }}
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - id: push-to-dockerhub
        uses: grafana/shared-workflows/actions/build-push-to-dockerhub@402975d84dd3fac9ba690f994f412d0ee2f51cf4 # build-push-to-dockerhub-v0.1.1
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          repository: grafana/fake-data-gen
          tags: |-
            ${{ github.sha }}
            latest
